@import "styles/variables.scss";
.input {
  border: 0;
  height: 60px;
  width: 100%;
  border-radius: 7px;
  background: linear-gradient(98.81deg, $milk -0.82%, $milk-pink 101.53%);
  padding-left: 32px;
  font-size: 20px;
  outline: none;
}
.input:focus {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
