@import "styles/variables.scss";

.option {
  color: black;
  z-index: 2;
  padding-left: 19px;
  line-height: 36px;
  text-align: left;
  height: 36px;
}

.click {
  background: linear-gradient(98.81deg, #ffe7e7 -0.82%, #fcb1b1 101.53%);
}
