@import "styles/variables.scss";

.img-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  gap: 10px;
  width: 100%;
  height: 245px;
  &_img {
    width: 90%;
    height: 90%;
  }
}

.content {
  flex: 1 0 auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;

  &_title {
    font-size: $font-title;
    margin: 0;
    width: 100%;
  }
  &_ingredients {
    font-size: 18px;
    margin-top: 20px;
    width: 100%;
    color: #3b3b3b;
    opacity: 0.5;
  }
}

.footer {
  padding-top: 20px;
  font-size: $font-normal;
  position: relative;
  flex: 0 0 auto;
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .footer_count-kcal {
    font-size: 20px;
    color: $red;
    font-weight: bold;
  }
  .footer_button {
    flex: 0 0 auto;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }
}
