body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  font-family: "Avenir";
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
  background-color: transparent;
  &:hover {
    text-decoration: none;
  }
}
@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url("./../assets/Avenir.woff") format("woff");
}
