@import "styles/variables.scss";
.rating-block_element {
  align-items: center;
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: $font-normal;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: $gray;
  mix-blend-mode: normal;
  span {
    opacity: 0.3;
  }
}
