@import "styles/variables.scss";

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 200px;
}
.multi-down {
  padding-left: 19px;
  text-align: left;
  background: linear-gradient(98.81deg, $milk -0.82%, $milk-pink 101.53%);
  mix-blend-mode: normal;
  border-radius: 7px;
  height: 60px;
  width: 100%;
  max-width: 350px;
  font-size: 20px;

  outline: none;
  border: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.options {
  overflow: hidden;
  position: absolute;
  border-radius: 7px;
  top: 66px;
  width: 100%;
  z-index: 1;
  background: linear-gradient(98.81deg, $milk -0.82%, $milk-pink 101.53%);
}
